/* General styling for the journaling container */
.journaling-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

/* Styling for the message when there are no journal entries */
.no-entries-message {
  text-align: center;
}

.create-entry-button {
  background-color: green;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.create-entry-button:hover {
  background-color: darkgreen;
}

/* Styling for displaying journal entries */
.journal-records {
  margin-top: 20px;
}

.journal-record {
  background-color: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.journal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.journal-header-right {
  display: flex;
  align-items: center;
  gap: 30px; /* space between date and icons */
}


.journal-title {
  font-size: 30px;
  font-weight: bold;
}

/* Updated journal-date styling */
.journal-date {
  font-size: 18px;
  color: black;
}

/* Journal details container for expanded content */
.journal-details {
  margin-top: 10px;
}

/* Display the edit and delete buttons side by side on the right */
.journal-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end; /* Align buttons to the right */
  pointer-events: none; /* Disable clicks on empty space */
}

.journal-actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  pointer-events: auto; /* Re-enable clicks for button elements */
}

.edit-button {
  color: green;
  font-size: 20px;
}

.delete-button {
  color: red;
  font-size: 20px;
}

.journal-actions button:hover {
  opacity: 0.8;
}

.journal-text {
  font-size: 16px;
  margin-top: 10px;
}

/* Styling for the journal entry creation form */
.create-entry-form {
  margin-top: 20px;
}

.create-entry-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.create-entry-form input,
.create-entry-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.create-entry-form textarea {
  height: 150px;
  resize: vertical;
}

.submit-button {
  background-color: #007BFF;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: green;
}

/* "+" icon at the bottom to add a new journal entry */
.add-entry-button {
  background-color: green;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  ali